.card-container {
    height: 400px;
    overflow: auto;
}

.form-field {
    height: 75px;
}

.h-50 {
    height: 50px !important;
}

.w-90 {
    width: 90px !important;
}

.float-right {
    float: right !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}